venv/
lichess-bot-master/venv
.vscode/
__pycache__/
Data/
Generators/
Model_Data/
Preprocessed_Data/
stockfish/
TEMP_DATA_TESTS/
Models/PikeBot_Models/
evaluation/results
config.json
evaluation/results_final/